html,
body,
#container {
    height: 100%;
    width: 100%;
}

#container {
    background-color: #90c2a6;
    opacity: 85%;
    color: #fff;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 22px;
}

#inventory {
    padding-left: 5px;
}

#inventory .row {
    width: 100%;
}

.on-selected {
    background-color: #6db78e;
    box-shadow: inset 2px 2px 2px #579271;
}

.vote {
    color: #000;
    font-weight: bold;
}

.unselected-vote {
    display: none;
}