html,
body {
    height: 100%;
    width: 100%;
}

#container {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #90c2a6;
    opacity: 85%;
    color: #fff;
    font-family: 'Patrick Hand SC', cursive;
}

/*//////////////////////////////*/
/*//////Inventory Voting////////*/
/*//////////////////////////////*/

.on-selected {
    background-color: #6db78e;
    box-shadow: inset 2px 2px 2px #579271;
}

.vote {
    color: #000;
    font-weight: bold;
}

.unselected-vote {
    display: none;
}

/*//////////////////////////////*/
/*////////Settings Menu/////////*/
/*//////////////////////////////*/

#settings-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

#settings {
    display: none;
    width: 280px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #579271;
    border: 5px solid #394d42;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #579271;
    padding: 10px;
}

#settings input,
#close-settings {
    margin-bottom: 10px;
}

#settings .input-group-append button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}